
@font-face {
    font-family: 'Pixel'; /* Define the font family name */
    src: url('/static/font/Pixeltype.ttf') format('truetype'); /* Specify the path to your font file */
}

body {
    font-family: 'Pixel', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 20px;
    font-size : 130%;
}

h1 {
    margin: 0;
}
h2{
    margin : 10px;
}

.link {
    display: flex;
}

a {
    margin-left: 10px;
}
.flex {
    display: flex;
}

.info-block {
    flex: 1;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scroll if content exceeds fixed height */
}
.info-block-unauto {
    flex: 1;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scroll if content exceeds fixed height */
    max-height: 300px;
}
.edit-block {
    flex: 1;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scroll if content exceeds fixed height */
}
div{
    font-family: 'Pixel', sans-serif;
    font-size : 130%;
}
.flex{
    display : flex;
}
.button-container {
    display: flex;
    justify-content: flex-start; /* 將按鈕置左 */
    gap: 0; /* 消除間隔 */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-top: 2px solid black; /* 上邊框 */
    border-bottom: 2px solid black; /* 下邊框 */
    background-color: white;  /* 設定背景顏色為白色 */
}

button:first-child {
    border-left: 2px solid black; /* 第一個按鈕有左邊框 */
}

button:last-child {
    border-right: 2px solid black; /* 最後一個按鈕有右邊框 */
}

button:not(:first-child) {
    border-left: 1px solid black; /* 中間按鈕的左邊框較細 */
}
