.container{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
}
.center{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    border-radius: 5px;
}

